.animals p {
    color: red;
    border: 2px solid greenyellow;
    padding: 10px;
    background-color: lightblue;
    
    
}
body {
    background-color: paleturquoise;
}
h1 {
    color: crimson;
    text-align: center;
}
.cat p {
    color: green;
    border: 2px solid yellow;
    padding: 10px;
    background-color: lightblue;

}

p {
    color: black;
    font-style: bold;
    font-size: 40px;
}

@media screen and (min-width: 500px) and (max-width: 760px) {
    body {
        background-color: yellow;
    }
    
